/* product info */

.product-info {
   overflow: hidden;
   margin: 10px 0;
}

.product-info li {
   overflow: hidden;
   height: 28px;
   line-height: 28px;
   padding-right: 5px;
}

.product-info .product-normal-price {
   color: #999;
}

.product-info .product-price {
   text-align: right;
   float: right;
}

.product-info .product-internet-price-not-best {
   color: #999;
   font-weight: 800;
}

.product-info .product-ripley-price, .product-internet-price {
   color: #e75353;
   font-weight: 800;
}

.product-info img {
   height: 20px;
   vertical-align: -5px;
   margin-right: 5px;
}

/* descuentos */
.product-price-discount {
   padding-right: 0;
   margin-top: 20px;
}

.product-price-discount .product-price-type {
   font-weight: 600;
}

.product-price-discount .product-discount-tag {
   position: relative;
   float: right;
   padding: 0 5px 0 0;
   top: 0;
}

.product-discount-tag {
   position: absolute;
   text-align: center;
   background: #e75353;
   top: 5px;
   margin: 0;
   padding: 5px 5px 4px 0;
   color: #fff;
   font-size: 14px;
   min-width: 40px;
   z-index: 2;
}

.product-discount-tag:after {
   right: 100%;
   top: 50%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-color: rgba(231,83,83,0);
   border-right-color: #e75353;
   border-width: 15px;
   margin-top: -15px;
}

.product-discount-tag .discount-percentage {
   padding-right: 10px;
   font-weight: 600;
}

/* ripley puntos */

.product-info li.product-ripley-puntos {
   border-bottom: 1px solid #e8e8e8;
   margin: 10px 0;
   padding-bottom: 10px;
   height: auto;
   font-weight: 400;
   font-size: 13px;
   text-align: left;
   color: #70578b;
   font-weight: 600;
}