* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root, #root>div {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  color: #6a6a6a;
  font-size: 14px;
  -webkit-transition: padding .3s linear;
  transition: padding .3s linear;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
