.product-detail-container {
   height: 100%;
   width: 100%;
   margin-top: 40px;
}
.product-detail-container .row {
   margin-left: -15px;
   margin-right: -15px;
}
.row .content-wrapper {
   padding: 0 15px;
}

