.error-container {
   width: 100%;
   margin: 0 auto;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.error-container .error-content {
   width: 50%;
   height: 50%;
   margin: 0 0 50px 0;
}  

.error-content .error-message {
   text-align: center;
   align-items: center;
   justify-content: center;
   display: flex;
}

.error-message h3 {
   color: #898989;
   font-size: 24px;
   margin: 0;
   font-weight: 600;
   text-transform: uppercase;
   text-align: center;
}

.button-wrapper {
   display: flex;
   justify-content: center;
}

.button-wrapper .back-button{
   display: inline-block;
   width: 170px;
   height: 35px;
   line-height: 33px;
   padding: 0;
   border: 2px solid #898989;
   color: #898989;
   text-transform: uppercase;
   font-weight: 900;
   font-size: 12px;
   outline: none;
}

.button-wrapper .back-button:hover{
   background: #898989;
   border-color: #898989;
   color: #fff;
   cursor: pointer;
}
