.catalog-product-container {
   margin-bottom: 30px;
   padding: 0 5px;
   position: relative;
}

.catalog-product-container .catalog-product-item {
   text-decoration: none;
   color: inherit;
}

.catalog-product-container .catalog-product-details {
   padding: 4px;
}

@media (min-width: 1200px){
   .col-lg-custom {
      width: 20%;
      max-width: 20%;
  }
}

